<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true" />
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ur_mir_robot_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <!-- <arg name="controllers" default="joint_state_controller eff_joint_traj_controller"/>
  <arg name="stopped_controllers" default="joint_group_eff_controller"/> -->
  <arg name="controllers" default="joint_state_controller pos_joint_traj_controller"/>
  <arg name="stopped_controllers" default="joint_group_pos_controller"/>

  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner"
    args="$(arg controllers)" output="screen" respawn="false" />

  <!-- Load other controllers, but do not start them -->
  <node name="ros_control_stopped_spawner" pkg="controller_manager" type="spawner"
    args="--stopped $(arg stopped_controllers)" output="screen" respawn="false" />
  
    
</launch>